*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ----------------HEADER SECTION---------------------- */
header {
  min-height: 100px;
  margin-bottom: 70px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
}

.site-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 490px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav-item a {
  display: block;
  color: #95e1d3;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 12px;
  border-bottom: 3px solid #f3818100;;
  transition: color 0.2s linear, border-bottom 0.2s linear;
}

.site-nav-item a:hover,
.site-nav-item a:focus {
  color:#f38181;
  border-bottom: 3px solid #f38181;
}

.logo {
  animation: logo-appear 0.5s linear;
}

@keyframes logo-appear {
  0% {
    transform: translateY(-200px);
    opacity: 0;
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}





