* {
  box-sizing: border-box;
  /* outline: 1px solid red; */
}


body {
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  color: #626262;
  width: 1200px;
  margin: 0 auto;
}

.wrapper,
.nav {
  width: 900px;
  margin: 0 auto;
}
.wrapper {
  margin-bottom: 50px;
}

.nav__item {
  list-style: none;
  text-transform: uppercase;
  line-height: 24px;
  margin: 72px 150px 100px;
  padding: 0;
  font-size: 0;
}

.nav__item li {
  display: inline-block;
  padding-right: 115px;
  font-size: 14px;
}

.nav__item li:last-child {
  padding-right: 0;
}

.nav__item a {
  color: #626262;
  text-decoration: none;
  transition: .2s;
}

.nav__item a:hover,
.nav__item a:focus {
  color: #03a9f4;
  outline: 0;
}

.wrapper__list {
  list-style: none;
  padding: 0;
  font-size: 0;
}

.wrapper__list__item h3 {
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  color: #b4ad9e;
  font-size: 14px;
  margin: 30px 0 24px;
}

.wrapper__list__item h2 {
  font-size: 30px;
  font-weight: 400;
  margin: 0 0 26px;

}

.wrapper__list__item p {
  line-height: 24px;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
}

.wrapper__list__item {
  display: inline-block;
  width: 420px;
  margin-bottom: 128px;
}

.wrapper__list__item:nth-last-child(-n + 2) {
  margin-bottom: 0;
}

.wrapper__list__item:nth-of-type(2n+1) {
  margin-right: 60px;
}

.button {
  width: 164px;
  height: 60px;
  margin: 0 auto;
  margin-bottom: 70px;
}

button {
  width: 164px;
  height: 60px;
  border: 1px solid #626262;
  background-color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #626262;
  cursor: pointer;
  outline: 0;
  padding: 0;
  transition: .2s;
}

button:hover,
button:focus {
  border: 1px solid #03a9f4;
  color: #03a9f4;
}

