*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ----------------HEADER SECTION---------------------- */
header {
  min-height: 1000px;
  margin-bottom: 46px;
}

.banner {
  background-image: url(../img/main-bg-min.png);
  background-size: cover;
  background-position: center;
}

.overlay {
  background-image: -webkit-gradient(
    linear,
    left bottom, left top,
    from(rgba(252, 227, 138, 0.9)),
    to(rgba(243, 129, 129, 0.9))
  );
  background-image: linear-gradient(
    to top,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  min-height: 1000px;
}

.container.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 36px;
  margin-bottom: 164px;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  min-width: 620px;
}

.site-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 80%;
}

.site-menu__link {
  display: block;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 12px;
  border-bottom: 3px solid #f3818100;
  -webkit-transition: color 0.2s linear, border-bottom 0.2s linear;
  transition: color 0.2s linear, border-bottom 0.2s linear;
}

.menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 13%;
  flex-basis: 13%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.menu-btn__cart,
.menu-btn__search {
  width: 18px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.menu-btn__icon {
  fill: #ffffff;
}

.menu-btn__icon:hover,
.menu-btn__icon:focus {
  fill: #fce38a;
}

.site-menu__link:hover,
.site-menu__link:focus {
  color: #fce38a;
  border-bottom: 3px solid #fce38a;
} 

.site-title {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
}

.site-title__main {
  max-width: 840px;
  margin: 0 auto;
  margin-bottom: 90px;
}

.site-title__main--huge {
  font-size: 150px;
}

.site-title__tagline {
  display: block;
  color: #ffffff;
  font-family: "Kaushan Script";
  font-weight: 400;
  text-transform: none;
}

.site-title__tagline--big {
  font-size: 72px;
  margin-bottom: 42px;
}

.main-title__btn--white {
  display: block;
  margin: 0 auto;
  background-color: transparent;
  border: 3px solid #ffffff;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  padding: 10px 32px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.main-title__btn--white:hover {
  color: #f38181;
  border-color: #f38181;
}

/* ----------------SERVICES SECTION---------------------- */

.services {
  margin-bottom: 92px;
}

.site-title__tagline--small {
  color: #333333;
  font-size: 24px;
  margin-bottom: 22px;
}

.site-title__section {
  color: #333333;
  font-size: 30px;
  margin-bottom: 56px;
}

.site-title__section::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 0 auto;
  margin-top: 42px;
}

.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
}

.services-list-item {
  padding-left: 62px;
  width: 332px;
  position: relative;
  margin-bottom: 100px;
}

.services-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.services-list-item::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  background-image: url(../img/servise-svg/ALARM.svg);
  position: absolute;
  left: 0px;
}

.services-list-item:nth-child(2)::before {
  background-image: url(../img/servise-svg/LINE_GRAPH.svg);
}

.services-list-item:nth-child(3)::before {
  background-image: url(../img/servise-svg/COMPUTER.svg);
}

.services-list-item:nth-child(4)::before {
  background-image: url(../img/servise-svg/BOOK_2.svg);
}

.services-list-item:nth-child(5)::before {
  background-image: url(../img/servise-svg/HOME.svg);
}

.services-list-item:nth-child(6)::before {
  background-image: url(../img/servise-svg/IMAGE.svg);
}

.item-title {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 20px;
  line-height: 1;
}

.desc {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #999999;
}

/* ----------------TEAM SECTION---------------------- */

.team {
  margin-bottom: 82px;
}

.desc-width {
  max-width: 954px;
  margin: 0 auto;
  margin-bottom: 92px;
  text-align: center;
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none;
  text-align: center;
}

.team-list-item:not(:last-child) {
  padding-right: 15px;
}

.item-name {
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.item-job {
  font-family: "Roboto", sans-serif;
  color: #999999;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
}

.item-foto {
  margin-bottom: 30px;
  position: relative;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

/* ----------------ITEM-HOVER---------------------- */

.item-hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(
    linear,
    left bottom, left top,
    from(rgba(252, 227, 138, 0.9)),
    to(rgba(243, 129, 129, 0.9))
  );
  background-image: linear-gradient(
    to top,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  position: absolute;
  left: 0;
  opacity: 0;
  -webkit-box-shadow: 10px 10px 0px 0px #95e1d3;
  box-shadow: 10px 10px 0px 0px #95e1d3;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.item-hover-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 56px;
  height: 56px;
  margin-right: 1px;
  background-color: #fce38a;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  outline: none;
}

.item-hover-social:nth-child(2) {
  background: #fce38a;
}

.item-hover-social:nth-child(3) {
  background: #fce38a;
}

.item-hover-social:nth-child(4) {
  background: #fce38a;
}

.item-icon {
  margin: auto;
  fill: #f38181;
  -webkit-transition: fill 0.2s linear;
  transition: fill 0.2s linear;
}

.item-hover-social:hover .item-icon,
.item-hover-social:focus .item-icon {
  fill: #ffffff;
}

.item-hover-social:hover,
.item-hover-social:focus {
  background-color: #f38181;
}

.item-foto:hover {
  -webkit-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
}

.item-foto:hover .item-hover {
  opacity: 1;
}

/* ----------------FOOTER SECTION---------------------- */

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 62px;
  border-top: 1px solid #e5e5e5;
}

.copy {
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.copy a {
  color: #f38181;
  text-decoration: none;
}

.mail-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

input[type="email"] {
  width: 230px;
  height: 40px;
  border: 1px solid #e7e7e7;
  background-color: #ffffff;
  color: #cccccc;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: italic;
  padding: 14px;
  line-height: 24px;
  outline: none;
}

.btn {
  width: 150px;
  height: 40px;
  background-color: #95e1d3;
  border: none;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.btn:hover {
  background-color: #f38181;
}
