@import "site-nav/site-nav.css";
@import "site-menu/site-menu.css";
@import "menu-btn/menu-btn.css";
@import "site-title/site-title.css";
@import "site-title/main-title__btn.css";
@import "services-list/services-list.css";
@import "team-list/team-list.css";
@import "copy/copy.css";
@import "form-agreement/form-agreement.css";

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ----------------HEADER SECTION---------------------- */
header {
  min-height: 1000px;
  margin-bottom: 46px;
}

.banner {
  background-image: url(../img/main-bg-min.png);
  background-size: cover;
  background-position: center;
}

.overlay {
  background-image: -webkit-gradient(
    linear,
    left bottom, left top,
    from(rgba(252, 227, 138, 0.9)),
    to(rgba(243, 129, 129, 0.9))
  );
  background-image: linear-gradient(
    to top,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  min-height: 1000px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 36px;
  margin-bottom: 164px;
}

/* ----------------SERVICES SECTION---------------------- */

.services {
  margin-bottom: 92px;
}

/* ----------------TEAM SECTION---------------------- */

.team {
  margin-bottom: 82px;
}

/* ----------------FOOTER SECTION---------------------- */

.footer.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 62px;
  border-top: 1px solid #e5e5e5;
}
