.form-agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-agreement__email {
  width: 230px;
  height: 40px;
  border: 1px solid #e7e7e7;
  background-color: #ffffff;
  color: #cccccc;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: italic;
  padding: 14px;
  line-height: 24px;
  outline: none;
}

.form-agreement__btn {
  width: 150px;
  height: 40px;
  background-color: #95e1d3;
  border: none;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.form-agreement__btn:hover {
  background-color: #f38181;
}