*,
*:before,
*:after {
  box-sizing: border-box;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* * {
  outline: 1px solid red;
} */

/* --------------------------HEADER SECTION------------------- */

.header {
  margin-bottom: 104px;
}

.site-logo {
  float: left;
  padding-top: 36px;
}

.site-logo a {
  color: #555252;
  font-size: 30px;
  font-weight: 300;
  line-height: 32px;
  text-transform: uppercase;
  text-decoration: none;
}

.site-logo:first-letter {
  color: #1abc9c;
  font-weight: 900;
}

.nav-list {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 46px;
}

.nav-list-item {
  float: left;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  line-height: 11px;
  font-size: 14px;
}

.nav-list-item:first-child a {
  padding-left: 0;
}

.nav-list-item:last-child a {
  padding-right: 0;
}

.nav-list-item a {
  text-decoration: none;
  color: #0f0101;
  padding: 0 17px;
  transition: .2s;
}

.nav-list-item a:hover,
.nav-list-item a:focus {
  color: #1abc9c;
}

/* --------------------------PRODUCKS SECTION------------------- */

.products-title,
.news-title {
  color: #515151;
  font-size: 48px;
  line-height: 32px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  font-weight: 700;
}

.products-title::after,
.news-title::after {
  content: " ";
  display: block;
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 92px;
}

.products {
  margin-bottom: 104px;
}

.products-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.products-list-item {
  float: left;
  width: 255px;
  height: 322px;
  background-color: #e9f0fd;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 30px;
  margin-right: 30px;
}

.products-list-item:nth-child(4n+4) {
  margin-right: 0;
}

.products-list-item:nth-last-child(-n+4) {
  margin-bottom: 0;
}

.products-img {
  margin: 15px 0;
}

.description {
  float: left;
  margin: 0;
  background-color: #323232;
  width: 201px;
  padding-left: 14px;
  font-size: 18px;
  transition: .2s;
  line-height: 47px;
}

.price {
  float: right;
  background-color: rgba(50, 50, 50, 0.44);
  margin: 0;
  width: 54px;
  text-align: center;
  font-size: 18px;
  transition: .2s;
  line-height: 47px;
}

.products-list-item:hover .description {
  background-color: #1abc9c;
}

.products-list-item:hover .price {
  background-color: rgba(26, 188, 156, 0.44);
}

/* --------------------------NEWS SECTION------------------- */
.news {
  margin-bottom: 80px;
}

.news-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.news-list-item {
  float: left;
  width: 350px;
  line-height: 26px;
  color: #555252;
  margin-right: 30px;
}

.news-list-item:nth-child(3n+3) {
  margin-right: 0;

}

.news-list-item h4 {
  font-size: 18px;
  margin: 0;
}

.news-list-item h4::after {
  content: " ";
  display: block;
  width: 136px;
  height: 3px;
  background-color: #4ec6ab;
  margin-top: 4px;
  margin-bottom: 24px;
}

.news-list-item img {
  margin-bottom: 10px;
}

.news-list-item p {
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 10px;
}

.btn {
  margin: 0 auto;
  /* height: 50px; */
}

.btn a {
  display:inline-block;
  text-decoration: none;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  background-color: #4ec6ab;
  padding: 14px 42px;
  border-radius: 4px;
  transition: .2s;
}

.btn a:hover,
.btn a:focus {
  background-color: #34a18a;
}





