*,
*:before,
*:after {
  box-sizing: border-box;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 1110px;
  margin: 0 auto;
  background-color: pink;
}

/* * {
  outline: 1px solid red;
} */

/* --------------------------HEADER SECTION------------------- */

.header {
  margin-bottom: 104px;
}

.site-logo {
  float: left;
  padding-top: 36px;
}

.site-logo a {
  color: #555252;
  font-size: 30px;
  font-weight: 300;
  line-height: 32px;
  text-transform: uppercase;
  text-decoration: none;
}

.site-logo:first-letter {
  color: #1abc9c;
  font-weight: 900;
}

.nav-list {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 46px;
}

.nav-list-item {
  float: left;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  line-height: 11px;
  font-size: 14px;
}

.nav-list-item:first-child a {
  padding-left: 0;
}

.nav-list-item:last-child a {
  padding-right: 0;
}

.nav-list-item a {
  text-decoration: none;
  color: #0f0101;
  padding: 0 17px;
  transition: .2s;
}

.nav-list-item a:hover,
.nav-list-item a:focus {
  color: #1abc9c;
}

/* --------------------------PRODUCKS SECTION------------------- */

.products-title {
  color: #515151;
  font-size: 48px;
  line-height: 32px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  font-weight: 900;
}

.products-title::after {
  content: " ";
  display: block;
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 92px;
}

.products-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.products-list-item {
  width: 255px;
  height: auto;
  background-color: #e9f0fd;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
}

.info {
  background-color: #323232;
}

.description {
  float: left;
  display: block;
  margin: 0;
  background-color: #323232;
  width: 201px;
  padding: 8px 0;
  padding-left: 14px;
}

.price {
  float: right;
  background-color: #8c8c8c;
  margin: 0;
  color: #ffffff;
  width: 54px;
  padding: 8px 0;
  text-align: center;
}



